[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Source providers
	push = group Source providers
	pushMerge = group Source providers
[access "refs/tags/*"]
	create = group Source providers
	push = group Source providers
	createTag = group Source providers
	createSignedTag = group Source providers
